Babel==2.3.4
dj-database-url==0.4.1
Django==1.10.2
django-appconf==1.0.2
django-bootstrap-form==3.2.1
django-ckeditor==5.1.1
django-debug-toolbar==1.6
django-filter==0.15.3
django-flatblocks==0.9.3
django-imagekit==3.3
django-phonenumber-field==1.1.0
django-suit==0.2.21
django-suit-ckeditor==0.0.2
djangorestframework==3.5.3
gunicorn==19.6.0
Markdown==2.6.7
phonenumberslite==7.7.3
pilkit==1.1.13
Pillow==3.4.2
psycopg2==2.6.2
pytz==2016.7
six==1.10.0
sqlparse==0.2.2
ujson==1.35
whitenoise==3.2.2
