{% extends 'master.html' %}

{% load i18n %}
{% load imagekit %}
{% load core_tags %}

{% block title_extra %} | {{ product.name }}{% endblock title_extra %}

{% block extra_meta %}
    {% if product.image %}
        {% generateimage 'big_thumbnail_fit' source=product.image as product_image %}
        {% get_thumbnail_url product_image as product_image_url %}
    {% endif %}

    {% include 'components/facebook/og_meta.html' with url=product.get_absolute_url title=product.name description=product.short_description image_url=product_image_url %}
{% endblock extra_meta %}

{% block extra_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'products:product_list' %}">{% trans "Products" %}</a></li>
        <li class="{% if nav_item == 'product' %}active{% endif %}">{{ product.name }}</li>
    </ol>
{% endblock extra_breadcrumb %}

{% block main %}
    <section class="pt0" id="product">
        <div class="container">
            <h1>{{ product.name }}</h1>

            <div class="row">
                <div class="col-md-3">
                    {% if product.image %}
                        <a href="#" class="thumbnail">
                            {% generateimage 'medium_thumbnail_fit' source=product.image as product_image %}
                            {% get_thumbnail_url product_image as product_image_url %}
                            <img class="img-responsive" src="{{ product_image_url }}"  />
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mb5">
                                {{ product.short_description|safe }}
                            </p>
                            <p class="mb5">
                                {{ product.long_description|safe }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        {% include "components/facebook/share_button.html" with url=product.get_absolute_url %}
                    </div>
                    <div class="row mt15">
                        {% include 'products/components/add_to_cart.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
