{% extends 'blogs/post_list.html' %}

{% load i18n %}
{% load imagekit %}
{% load core_tags %}

{% block title_extra %} | {{ post.title }}{% endblock title_extra %}

{% block extra_meta %}
    {% if post.image %}
        {% generateimage 'big_thumbnail_fit' source=post.image as post_image %}
        {% get_thumbnail_url post_image as post_image_url %}
    {% endif %}

    {% include 'components/facebook/og_meta.html' with url=post.get_absolute_url title=post.title description=post.lead_text image_url=post_image_url %}
{% endblock extra_meta %}

{% block extra_breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'blogs:post_list' %}">{% trans "Posts" %}</a>
        </li>
        <li class="active">
            {{ post.title }}
        </li>
    </ol>
{% endblock extra_breadcrumb %}

{% block main %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="pt0" id="post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>
                    {% if post.published_on %}{% trans 'Published' %}: {{ post.published_on }}{% endif%}
                    {% include "components/facebook/share_button.html" with url=post.get_absolute_url %}
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ post.lead_text|safe }}
                </p>
            </div>
        </div>
        {% if post.image %}
            <div class="row">
                {% generateimage 'big_thumbnail_fit' source=post.image as post_image %}
                {% get_thumbnail_url post_image as post_image_url %}
                <div class="col-md-12">
                    <img class="img-responsive post-detail-img" src="{{ post_image_url }}"/>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ post.content|safe }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include "components/facebook/share_button.html" with url=post.get_absolute_url %}
            </div>
        </div>
    </div>
</section>
{% endblock main %}
