{% load static %}

{% load i18n %}
{% load orders_tags %}
{% load flatblocks %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ config.SITE_NAME }} {% block title_extra %}{% endblock title_extra %}</title>

        {% block extra_meta %}

        {% endblock extra_meta %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "public/vendor/bootstrap/css/bootstrap.min.css" %}">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="{% static "public/vendor/bootstrap/theme/startbootstrap-freelancer/css/freelancer.min.css" %}" >
        <!-- Custom Fonts -->
        <link rel="stylesheet" href="{% static "public/vendor/bootstrap/theme/startbootstrap-freelancer/vendor/font-awesome/css/font-awesome.min.css" %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

        <link rel="stylesheet" href="{% static "public/vendor/nprogress/nprogress.css" %}"/>
        <link rel="stylesheet" href="{% static "public/css/style.css" %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block extra_head %}
            <script>
                var CSRF_TOKEN = "{{ csrf_token }}";
                var SITE_URL = {
                    SHOPPING_CART: "{% url 'orders:shopping_cart' %}"
                }
                var API_URL = {
                    ORDERITEMS_LIST: "{% url 'orders:api:orderitems-list' %}"
                };
                var MESSAGES = {
                    PRODUCT_FORM_SUCCESS_MESSAGE: "{% trans '<b>${data.product.name}</b> successfully added to your shopping cart. Would you like to review your cart and proceed to checkout, or continue shopping?' %}",
                    PROCEED_TO_CHECKOUT: "{% trans 'Proceed to checkout' %}",
                    CONTINUE_SHOPPING: "{% trans 'Continue shopping' %}",
                };
            </script>
        {% endblock extra_head %}
    </head>

    <body id="page-top" class="index">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {% block navigation %}
            {% include 'navigation.html' %}
        {% endblock navigation %}

        <div class="row breadcrumb-row">
            <div class="container">
                <div class="row">
                    {% block extra_breadcrumb %}

                    {% endblock extra_breadcrumb %}
                </div>
            </div>
        </div>

        {% block hero %}

        {% endblock hero %}

        {% block sections %}

        {% endblock sections %}

        {% block main %}

        {% endblock main %}

        {% block footer %}
        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4 col-md-offset-2">
                            <h3>{% trans "Contact" %}</h3>
                            {% flatblock "contact" %}
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>{% trans "Links" %}</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://www.facebook.com/aronijatrescec/" class="btn-social btn-outline">
                                        <i class="fa fa-fw fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% comment %}
                        <!-- <div class="footer-col col-md-4">
                            <h3>About Freelancer</h3>
                            <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                        </div> -->
                        {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; {{ config.SITE_NAME }} 2017
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}

        <script src="{% static "public/vendor/jquery/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "public/vendor/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script src="{% static "public/vendor/bootbox/bootbox.min.js" %}"></script>
        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <!-- Theme JavaScript -->
        <script src="{% static "public/vendor/bootstrap/theme/startbootstrap-freelancer/js/freelancer.js" %}"></script>
    {% block appscript %}
        <div id="app" />
        <script src="{% static "public/bundle.js" %}" type="text/javascript"></script>
    {% endblock appscript %}
    </body>

</html>
