{% load static %}

{% load i18n %}

{% load orders_tags %}

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OPG Trečšec {% block title_extra %}{% endblock title_extra %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "public/vendor/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "public/vendor/nprogress/nprogress.css" %}"/>
        <link rel="stylesheet" href="{% static "public/css/style.css" %}">
        <script src="{% static "public/vendor/jquery/jquery.min.js" %}" type="text/javascript"></script>
        {% block extra_head %}
            <script>
                var CSRF_TOKEN = "{{ csrf_token }}";
                var API_URL = {
                    ORDERITEMS_LIST: "{% url 'orders:api:orderitems-list' %}"
                };
            </script>
        {% endblock extra_head %}
    </head>

    <body>
        <div class="container">
            {% block header %}
                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation" class="{% if flatpage.url == '/' %}active{% endif %}">
                                <a href="{% url 'flatpages:home' %}">
                                    <span class="glyphicon glyphicon-home"></span> {% trans "Home" %}
                                </a>
                            </li>
                            <li role="presentation" class="{% if flatpage.url == '/about/' %}active{% endif %}">
                                <a href="{% url 'flatpages:about' %}">
                                    <span class="glyphicon glyphicon-tree-deciduous"></span> {% trans "About us" %}
                                </a>
                            </li>
                            <li role="presentation" class="{% if nav_item == 'product' %}active{% endif %}">
                                <a href="{% url 'products:product_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span> {% trans "Products" %}
                                </a>
                            </li>
                            <li role="presentation" class="{% if nav_item == 'shopping_cart' %}active{% endif %}">
                                <a href="{% url 'orders:shopping_cart' %}">
                                    {% get_shopping_cart as shopping_cart %}
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    {% trans "Shopping Cart" %}
                                    <span class="badge js-shopping-cart-badge">
                                        {% if shopping_cart and shopping_cart.items_count %}
                                            {{ shopping_cart.items_count }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                            <li role="presentation" class="{% if nav_item == 'contact' %}active{% endif %}">
                                <a href="{% url 'contact' %}">
                                    <span class="glyphicon glyphicon-envelope"></span> {% trans "Contact" %}
                                </a>
                            </li>
                            {% if user.is_staff %}
                            <li role="presentation">
                                <a href="{% url 'admin:index' %}">
                                    <span class="glyphicon glyphicon glyphicon-pencil"></span> {% trans "Administration" %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <h3 class="text-muted">OPG Treščec</h3>
            </div>
            {% block extra_breadcrumb %}

            {% endblock extra_breadcrumb %}
            {% endblock header %}
            {% block main %}

            {% endblock main %}
            {% block appscript %}
                <div id="app" />
                <script src="{% static "public/bundle.js" %}" type="text/javascript"></script>
            {% endblock appscript %}
        </div>
    </body>

</html>
