{% load i18n %}
{% load orders_tags %}

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% if nav_item != 'home' %}{% url 'home' %}{% endif%}#page-top"><i class="fa fa-leaf" aria-hidden="true"></i> {{ config.SITE_NAME }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="{% if nav_item != 'home' %}{% url 'home' %}{% endif%}#page-top">
                        <span class="glyphicon glyphicon-home"></span> {% trans "Home" %}
                    </a>
                </li>
                <li class="page-scroll">
                    <a href="{% if nav_item != 'home' %}{% url 'home' %}{% endif%}#about">
                        <span class="glyphicon glyphicon-tree-deciduous"></span> {% trans "About us" %}
                    </a>
                </li>
                <li class="page-scroll">
                    <a href="{% if nav_item != 'home' %}{% url 'home' %}{% endif%}#contact">
                        <span class="glyphicon glyphicon-envelope"></span> {% trans "Contact" %}
                    </a>
                </li>
                <li class="page-scroll {% if request.path_info == '/ljekovitost-aronije/' %}active{% endif %}">
                    <a href="{% url 'flatpages:ljekovitost-aronije' %}">
                        <span class="glyphicon glyphicon-thumbs-up"></span> {% trans "Ljekovitost aronije" %}
                    </a>
                </li>
                <li class="page-scroll {% if nav_item == 'product' %}active{% endif %}">
                    <a href="{% url 'products:product_list' %}">
                        <i class="fa fa-gift" aria-hidden="true"></i> {% trans "Products" %}
                    </a>
                </li>
                <li class="page-scroll {% if nav_item == 'shopping_cart' %}active{% endif %}">
                    <a href="{% url 'orders:shopping_cart' %}">
                        {% get_shopping_cart as shopping_cart %}
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        {% trans "Shopping Cart" %}
                        <span class="badge js-shopping-cart-badge">
                            {% if shopping_cart and shopping_cart.items_count %}
                                {{ shopping_cart.items_count }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </a>
                </li>
                {% if user.is_staff %}
                <li class="page-scroll">
                    <a href="{% url 'admin:index' %}">
                        <span class="glyphicon glyphicon glyphicon-pencil"></span> {% trans "Administration" %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
