{% extends 'orders/shoppingcart_detail.html' %}

{% load i18n %}
{% load bootstrap %}

{% block title_extra %} | {% trans "Contact Details" %}{% endblock title_extra %}

{% block extra_breadcrumb %}
    <li>
        <a href="{% url 'orders:shopping_cart' %}">
            {% trans "Shopping Cart" %}
        </a>
    </li>
    <li class="{% if nav_item == 'order_form' %}active{% endif %}">
        {% trans "Contact Details" %}
    </li>
{% endblock extra_breadcrumb %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        {% include "orders/components/order_detail.html" %}
    </div>
    <div class="col-md-6">
        <form method="post">
            <legend>{% trans "Contact Details" %}</legend>
            <div class="form-group">
                {{ form.non_field_errors }}
            </div>
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.first_name|bootstrap }}
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name|bootstrap }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        {{ form.place|bootstrap }}
                    </div>
                    <div class="col-md-4">
                        {{ form.postal_code|bootstrap }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-9">
                        {{ form.street|bootstrap }}
                    </div>
                    <div class="col-md-3">
                        {{ form.house_number|bootstrap }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.email|bootstrap }}
                    </div>
                    <div class="col-md-6">
                        {{ form.phone_number|bootstrap }}
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-success btn-lg">
                  <span class="glyphicon glyphicon-send"></span>
                  {% trans 'Send Your Order' %}
              </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
