{% extends 'master.html' %}

{% load i18n %}

{% block title_extra %} | {% trans "Shopping Cart" %}{% endblock title_extra %}

{% block extra_breadcrumb %}
    <li class="{% if nav_item == 'shopping_cart' %}active{% endif %}">
        {% trans "Shopping Cart" %}
    </li>
    {% if order_items %}
        <li>
            <a href="{% url 'orders:order_form' cart_hash=shopping_cart.hash %}">
                {% trans "Contact Details" %}
            </a>
        </li>
    {% endif %}
{% endblock extra_breadcrumb %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            {% if order_items %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="{% url 'orders:order_form' cart_hash=shopping_cart.hash %}" class="btn btn-primary">
                            <span class="glyphicon glyphicon glyphicon-forward"></span>
                            {% trans "Proceed to checkout" %}
                            <span class="glyphicon glyphicon glyphicon-forward"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        {% trans "Image" %}
                                    </th>
                                    <th>
                                        {% trans "Product name" %}
                                    </th>
                                    <th>
                                        {% trans "Amount" %}
                                    </th>
                                    <th>
                                        {% trans "Price" %}
                                    </th>
                                    <th>
                                        {% trans "Remove" %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in  order_items %}
                                    <tr class="order-item-tr" data-order-item-id="{{ order_item.id }}">
                                        <td>
                                            <img src="{{ order_item.product.thumbnail.url }}" alt="{{ order_item.product.name }}"/>
                                        </td>
                                        <td>
                                            {{ order_item.product.name }}
                                        </td>
                                        <td>
                                            <form class="js-order-item-form" data-order-item-id="{{ order_item.id }}">
                                                <select id="amount" name="amount" class="form-control js-update-item">
                                                    {% for i in amount_range %}
                                                         <option value="{{ i }}" {% if i == order_item.amount %}selected{% endif %}>
                                                             {{ i }}
                                                         </option>
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </td>
                                        <td class="price" data-unit-price="{{ order_item.product.price }}" data-order-item-id="{{ order_item.id }}">
                                            <span class="calculated-price">{{ order_item.calculated_price }}</span>kn
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-danger js-delete-order-item" data-order-item-id="{{ order_item.id }}">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="{% url 'orders:order_form' cart_hash=shopping_cart.hash %}" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon glyphicon-forward"></span>
                            {% trans "Proceed to checkout" %}
                            <span class="glyphicon glyphicon glyphicon-forward"></span>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning text-center" role="alert">
                    {% blocktrans %}
                    <p>You have not put any product in shopping cart yet!</p>
                    <p>Please, go to our products page and select something for purchase</p>
                    <p>in order to continue with checkout!</p>
                    {% endblocktrans %}
                    <a href="{% url 'products:product_list' %}" class="btn btn-primary mt10" >
                        <span class="glyphicon glyphicon-th-list"></span>
                        {% trans "Products" %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock main %}
