{% extends 'master.html' %}

{% load static %}
{% load i18n %}
{% load flatblocks %}

{% block title_extra %} | {{ flatpage.title }}{% endblock title_extra %}

{% block navigation %}
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% block logo_link %}#page-top{% endblock logo_link %}"><i class="fa fa-leaf" aria-hidden="true"></i> OPG Treščec</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#page-top">
                        <span class="glyphicon glyphicon-home"></span> {% trans "Home" %}
                    </a>
                </li>
                <li class="page-scroll">
                    <a href="#about">
                        <span class="glyphicon glyphicon-tree-deciduous"></span> {% trans "About us" %}
                    </a>
                </li>
                <li class="page-scroll">
                    <a href="{% url 'products:product_list' %}">
                        <i class="fa fa-gift" aria-hidden="true"></i> {% trans "Products" %}
                    </a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock navigation %}

{% block hero %}
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->

                <div class="intro-text">
                    <span class="name">OPG TREŠČEC</span>
                    <hr class="star-light star-light-hero">
                    <span class="skills">uzgoj aronije - matični sok od aronije - čaj od aronije</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock hero %}

{% block sections %}
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{% trans "About" %}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% flatblock "about-us" %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="{% url 'products:product_list' %}" class="btn btn-lg btn-outline mb30">
                    <i class="fa fa-gift" aria-hidden="true"></i> {% trans "Buy aronia products" %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <img src="{% static "public/img/working.jpg" %}" class="img-responsive" alt="">
            </div>
            <div class="col-sm-4 portfolio-item">
                <img src="{% static "public/img/jars.jpg" %}" class="img-responsive" alt="">
            </div>
            <div class="col-sm-4 portfolio-item">
                <img src="{% static "public/img/official_shirts_back.jpg" %}" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock sections %}

{% block main %}
    {{ flatpage.content }}
{% endblock main %}
